Web-Services-Externos/registroelectronico/RegistrarService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://registrar.ws2.rec2are.map.es" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://registrar.ws2.rec2are.map.es" xmlns:intf="http://registrar.ws2.rec2are.map.es" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://type.ws2.rec2are.map.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://type.ws2.rec2are.map.es" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://registrar.ws2.rec2are.map.es"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="AutenticacionType">
    <sequence>
     <element name="idAplicacion" type="xsd:string"/>
     <element name="password" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="InteresadoType">
    <sequence>
     <element name="cdTipoDocIndentificativoInteresado" type="xsd:string"/>
     <element name="tlNumDocIdentificativoInteresado" type="xsd:string"/>
     <element name="tlNombreInteresado" type="xsd:string"/>
     <element name="tlApellido1Interesado" type="xsd:string"/>
     <element name="tlApellido2Interesado" type="xsd:string"/>
     <element name="tlRazonSocialInteresado" type="xsd:string"/>
     <element name="cdPaisInteresado" type="xsd:string"/>
     <element name="cdProvinciaInteresado" type="xsd:string"/>
     <element name="cdMunicipioInteresado" type="xsd:string"/>
     <element name="tlDireccionInteresado" type="xsd:string"/>
     <element name="cdCodigoPostalInteresado" type="xsd:string"/>
     <element name="tlDEHInteresado" type="xsd:string"/>
     <element name="tlTelefonoContactoInteresado" type="xsd:string"/>
     <element name="tlCorreoElectronicoInteresado" type="xsd:string"/>
     <element name="cdCanalPreferenteInteresado" type="xsd:string"/>
     <element name="cdTipoDocIndentificativoRepresentante" type="xsd:string"/>
     <element name="tlNumDocIdentificativoRepresentante" type="xsd:string"/>
     <element name="tlNombreRepresentante" type="xsd:string"/>
     <element name="tlApellido1Representante" type="xsd:string"/>
     <element name="tlApellido2Representante" type="xsd:string"/>
     <element name="tlRazonSocialRepresentante" type="xsd:string"/>
     <element name="cdPaisRepresentante" type="xsd:string"/>
     <element name="cdProvinciaRepresentante" type="xsd:string"/>
     <element name="cdMunicipioRepresentante" type="xsd:string"/>
     <element name="tlDireccionRepresentante" type="xsd:string"/>
     <element name="cdCodigoPostalRepresentante" type="xsd:string"/>
     <element name="tlDEHRepresentante" type="xsd:string"/>
     <element name="tlTelefonoContactoRepresentante" type="xsd:string"/>
     <element name="tlCorreoElectronicoRepresentante" type="xsd:string"/>
     <element name="cdCanalPreferenteRepresentante" type="xsd:string"/>
     <element name="tlObservaciones" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="DocumentoType">
    <sequence>
     <element name="dsNombre" type="xsd:string"/>
     <element name="cdValidez" type="xsd:string"/>
     <element name="cdTipo" type="xsd:string"/>
     <element name="blDocumento" type="xsd:string"/>
     <element name="blFirma" type="xsd:string"/>
     <element name="cdFirmado" type="xsd:string"/>
     <element name="blPKCertificado" type="xsd:string"/>
     <element name="blTimeStamp" type="xsd:string"/>
     <element name="blValidacionOCSP" type="xsd:string"/>
     <element name="blHash" type="xsd:string"/>
     <element name="dsTipoMIME" type="xsd:string"/>
     <element name="tlObservaciones" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="InteresadoJustificanteType">
    <sequence>
     <element name="cdTipoDocIndentificativoInteresado" type="xsd:string"/>
     <element name="tlNumDocIdentificativoInteresado" type="xsd:string"/>
     <element name="tlNombreInteresado" type="xsd:string"/>
     <element name="tlApellido1Interesado" type="xsd:string"/>
     <element name="tlApellido2Interesado" type="xsd:string"/>
     <element name="tlRazonSocialInteresado" type="xsd:string"/>
     <element name="cdPaisInteresado" type="xsd:string"/>
     <element name="cdProvinciaInteresado" type="xsd:string"/>
     <element name="cdMunicipioInteresado" type="xsd:string"/>
     <element name="tlDireccionInteresado" type="xsd:string"/>
     <element name="cdCodigoPostalInteresado" type="xsd:string"/>
     <element name="tlDEHInteresado" type="xsd:string"/>
     <element name="tlTelefonoContactoInteresado" type="xsd:string"/>
     <element name="tlCorreoElectronicoInteresado" type="xsd:string"/>
     <element name="cdCanalPreferenteInteresado" type="xsd:string"/>
     <element name="cdTipoDocIndentificativoRepresentante" type="xsd:string"/>
     <element name="tlNumDocIdentificativoRepresentante" type="xsd:string"/>
     <element name="tlNombreRepresentante" type="xsd:string"/>
     <element name="tlApellido1Representante" type="xsd:string"/>
     <element name="tlApellido2Representante" type="xsd:string"/>
     <element name="tlRazonSocialRepresentante" type="xsd:string"/>
     <element name="cdPaisRepresentante" type="xsd:string"/>
     <element name="cdProvinciaRepresentante" type="xsd:string"/>
     <element name="cdMunicipioRepresentante" type="xsd:string"/>
     <element name="tlDireccionRepresentante" type="xsd:string"/>
     <element name="cdCodigoPostalRepresentante" type="xsd:string"/>
     <element name="tlDEHRepresentante" type="xsd:string"/>
     <element name="tlTelefonoContactoRepresentante" type="xsd:string"/>
     <element name="tlCorreoElectronicoRepresentante" type="xsd:string"/>
     <element name="cdCanalPreferenteRepresentante" type="xsd:string"/>
     <element name="tlObservaciones" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_InteresadoJustificanteType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:InteresadoJustificanteType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="DocumentoJustificanteType">
    <sequence>
     <element name="dsNombre" type="xsd:string"/>
     <element name="cdValidez" type="xsd:string"/>
     <element name="cdTipo" type="xsd:string"/>
     <element name="itFirmado" type="xsd:string"/>
     <element name="blPKCertificado" type="xsd:string"/>
     <element name="blTimeStamp" type="xsd:string"/>
     <element name="blValidacionOCSP" type="xsd:string"/>
     <element name="blHash" type="xsd:string"/>
     <element name="dsTipoMIME" type="xsd:string"/>
     <element name="idDocumento" type="xsd:string"/>
     <element name="tlObservaciones" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_DocumentoJustificanteType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:DocumentoJustificanteType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="RespuestaType">
    <sequence>
     <element name="cdRespuesta" type="xsd:string"/>
     <element name="dsRespuesta" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="JustificanteType">
    <sequence>
     <element name="nmRegistro" type="xsd:string"/>
     <element name="feRegistro" nillable="true" type="xsd:string"/>
     <element name="blTimeStamp" type="xsd:string"/>
     <element name="idIntercambio" type="xsd:string"/>
     <element name="cdOficinaOrigen" type="xsd:string"/>
     <element name="dsOficinaOrigen" type="xsd:string"/>
     <element name="cdTipoRegistro" type="xsd:string"/>
     <element name="cdOficinaDestino" type="xsd:string"/>
     <element name="dsOficinaDestino" type="xsd:string"/>
     <element name="cdUnidadDestino" type="xsd:string"/>
     <element name="dsUnidadDestino" type="xsd:string"/>
     <element name="cdUnidadOrigen" type="xsd:string"/>
     <element name="dsUnidadOrigen" type="xsd:string"/>
     <element name="interesados" type="tns1:ArrayOf_tns1_InteresadoJustificanteType"/>
     <element name="documentos" type="tns1:ArrayOf_tns1_DocumentoJustificanteType"/>
     <element name="tlResumen" type="xsd:string"/>
     <element name="cdAsunto" type="xsd:string"/>
     <element name="dsAsunto" type="xsd:string"/>
     <element name="tlReferenciaExterna" type="xsd:string"/>
     <element name="tlNumeroExpediente" type="xsd:string"/>
     <element name="cdTipoTransporte" type="xsd:string"/>
     <element name="tlNumeroTransporte" type="xsd:string"/>
     <element name="tlNombreUsuario" type="xsd:string"/>
     <element name="tlContactoUsuario" type="xsd:string"/>
     <element name="cdDocumentacionFisicaSoportes" type="xsd:string"/>
     <element name="tlExpone" type="xsd:string"/>
     <element name="tlSolicita" type="xsd:string"/>
     <element name="tlAplicacion" type="xsd:string"/>
     <element name="tlObservaciones" type="xsd:string"/>
     <element name="blJustificante" type="xsd:string"/>
     <element name="respuesta" type="tns1:RespuestaType"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://registrar.ws2.rec2are.map.es" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://type.ws2.rec2are.map.es"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_InteresadoType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:InteresadoType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_DocumentoType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:DocumentoType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="RegistroType">
    <sequence>
     <element name="cdOficinaOrigen" type="xsd:string"/>
     <element name="cdTipoRegistro" type="xsd:string"/>
     <element name="feRegistro" nillable="true" type="xsd:string"/>
     <element name="cdUnidadDestino" type="xsd:string"/>
     <element name="cdUnidadOrigen" nillable="true" type="xsd:string"/>
     <element name="interesados" nillable="true" type="impl:ArrayOf_tns1_InteresadoType"/>
     <element name="documentos" nillable="true" type="impl:ArrayOf_tns1_DocumentoType"/>
     <element name="tlResumen" type="xsd:string"/>
     <element name="cdAsunto" type="xsd:string"/>
     <element name="tlReferenciaExterna" nillable="true" type="xsd:string"/>
     <element name="tlNumeroExpediente" nillable="true" type="xsd:string"/>
     <element name="cdTipoTransporte" nillable="true" type="xsd:string"/>
     <element name="tlNumeroTransporte" nillable="true" type="xsd:string"/>
     <element name="tlNombreUsuario" nillable="true" type="xsd:string"/>
     <element name="tlContactoUsuario" nillable="true" type="xsd:string"/>
     <element name="cdDocumentacionFisicaSoportes" type="xsd:string"/>
     <element name="tlExpone" nillable="true" type="xsd:string"/>
     <element name="tlSolicita" nillable="true" type="xsd:string"/>
     <element name="tlObservaciones" nillable="true" type="xsd:string"/>
     <element name="flJustificante" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="registrarRequest">

      <wsdl:part name="autenticacion" type="tns1:AutenticacionType">

      </wsdl:part>

      <wsdl:part name="registro" type="impl:RegistroType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarResponse">

      <wsdl:part name="JustificanteType" type="tns1:JustificanteType">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RegistrarElectronicosService">

      <wsdl:operation name="registrar" parameterOrder="autenticacion registro">

         <wsdl:input message="impl:registrarRequest" name="registrarRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarResponse" name="registrarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegistrarServiceSoapBinding" type="impl:RegistrarElectronicosService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="registrar">

         <wsdlsoap:operation soapAction="http://registrar.ws2.rec2are.map.es/registrar"/>

         <wsdl:input name="registrarRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://registrar.ws2.rec2are.map.es" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="registrarResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://registrar.ws2.rec2are.map.es" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegistrarService">

      <wsdl:port binding="impl:RegistrarServiceSoapBinding" name="RegistrarService">

         <wsdlsoap:address location="http://server:port/registro2/services/RegistrarService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>