fuentes/inside-model/src/main/xsd/WSCredentialInside.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:insidewscred="https://ssweb.seap.minhap.es/Inside/XSD/v1.0/WebService/types/credential" 
targetNamespace="https://ssweb.seap.minhap.es/Inside/XSD/v1.0/WebService/types/credential" 
elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="WSCredentialInside">
		<xsd:sequence>
			<xsd:element name="idaplicacion" type="xsd:string" />
			<xsd:element name="password" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="credential" type="insidewscred:WSCredentialInside" />
</xsd:schema>