inside-model/src/main/xsd/UnidadInside.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="https://ssweb.seap.minhap.es/Inside/XSD/v1.0/unidad" 
elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="es">XSD Unidad Órganica Inside</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Unidad">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string" />
			<xsd:element name="nombre" type="xsd:string" />
			<xsd:element name="numeroProcedimiento" type="xsd:string" />
			<xsd:element name="activo" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>